<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @articles123.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @articles123.body %>
</p>

<%= link_to 'Edit', edit_articles123_path(@articles123) %> |
<%= link_to 'Back', articles123s_path %>
