<%= form_for [@category , @post ]  do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field form-group">
    <%= f.label :title, class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.text_field :title, class: 'form-control' , :placeholder=>'Enter the Post Title' , required: true%>
    </div>
  </div>
 <br><br> <br><br>

   <div class="field form-group">
    <%= f.label :description, class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">
      <%= f.text_area :description, class: 'form-control' , :placeholder=>'Enter the Post Description' , required: true%>
    </div>
  </div>

 <br><br>

<div class= "field">
      <%#= f.label "Category" %>
      <%#= f.collection_select(:category_id , Category.all, :id, :title,  :id => "options"  , prompt: true ) %>
        <%= f.hidden_field :category_id , value: @category.id %>

    </div>
    <br><br>

 <div class="field form-group">

    <%= fields_for(@post_tag) do |ab| %>

<%= ab.label "All Tag" , class: 'col-sm-2 control-label' %>
<div class="col-sm-6">
<%= collection_select(:tags, :id , @all_tags , :id, :title , {:required => true} , {:multiple => true , class: 'form-control'}) %>
  <% end %>
    </div> <br><br><br><br><br><br>
  </div>


<div class="field form-group">
    <%= f.label :image , class: 'col-sm-2 control-label' %>
    <div class="col-sm-6">

    <%= f.file_field :image , :placeholder=>'Select Image' , required: true , class: 'form-control' %>

  </div>

  </div>

<br><br><br><br>
   <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= f.submit class: "btn btn-success" %>
    </div>
  </div>
<% end %>
