<p id="notice"><%= notice %></p>

<p>
  <strong>Que content:</strong>
  <%= @question.que_content %>
</p>

<p>
  <strong>Type:</strong>
  <%= @question.type %>
</p>

<p>
  <strong>Survey:</strong>
  <%= @question.survey %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
