
<h1><center> =: Student :=</center></h1>

<center><%= link_to 'New Student Entry', 'new' %></center> <br><br>
<center><%= link_to 'Edit', 'edit' %></center><br><br>
<center><%= link_to 'Delete', 'delete' %></center><br><br>
<center><%= link_to 'Search', 'find' %></center><br><br>
<center><%= link_to 'Show All Department', 'show' %></center>
<p></p>
