<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
    </div>



      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
         <% if user_signed_in? %>

        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag current_user.image(:thumb) ,size: "45x25" ,  class: "img-rounded pull-xs-right" %><b><%= current_user.fname%> <%= current_user.lname%> </b>
            <% else %>
           <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu
            <% end %>

           <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          

              <% if user_signed_in? %>
     <li><%= link_to "Profile" , users_show_path %></li>
          <li class="divider"></li>
           <li> Profile Picture Change</li>
            <li class="divider"></li>
    <li> <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %> </li>
         
    <% else %>
     
      <li> <%= link_to "Sign UP", new_user_registration_path  %> </li>
    <li class="divider"></li>
       
         <li><%= link_to "Sign In" , new_user_session_path %> </li>
     
      <%end%>
          
        </ul>
      </li>
    </ul>
  </div>
</nav>

