<div class="container">
 <%= image_tag current_user.image(:thumb) , class: "img-thumbnail" %>
  <h2>Profile</h2>
  <table id class="table table-bordered table-striped">
    <thead>
   
    	<tr>
			<th class ="active">First name</th>
			<td class ="info"><%= current_user.fname.capitalize %> <%= current_user.lname.capitalize %></td>
			
    	</tr>
    	<tr>
    			<th class ="active">Email</th>
    			<td class ="info"><%= current_user.email %></td>
    	</tr>
    	<tr>
    			<th class ="active">Password</th>
    			<td class ="info">******</td>
    	</tr>
    	<tr>
    			<th class ="active">Birth Day</th>
    			<td class ="info"><%= current_user.birthdate%></td>
    	</tr>
    	<tr>
    			<th class ="active">Gender</th>
    				<% if current_user.gender== 'true' %>
    			<td class ="info">Male</td>
    			 <% else %>
    			 <td class ="info">Female</td>
    			 <% end %>
    	</tr>
    	<tr>
    		<th class ="active">Country</th>
    			<td class ="info"><%= current_user.country %></td>
    	</tr>


    </thead>
    <tbody id="users">
   	    
  
    <%= link_to 'Edit', edit_user_registration_path(current_user), :class => 'btn btn-sm btn-info' %>

    </tbody>
  </table>
 

 
</div>


