<p id="notice"><%= notice %></p>

<p>
  <strong>Village:</strong>
  <%= @address.village %>
</p>

<p>
  <strong>District:</strong>
  <%= @address.district %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @address.pincode %>
</p>

<p>
  <strong>Student:</strong>
  <%= @address.student %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
