<%= form_for(@mysubject) do |f| %>
  <% if @mysubject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mysubject.errors.count, "error") %> prohibited this mysubject from being saved:</h2>

      <ul>
      <% @mysubject.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :my_subjects %><br>
    <%= f.text_field :my_subjects %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
