<h1>Listing mysubjects</h1>

<table>
  <thead>
    <tr>
      <th>My subjects</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mysubjects.each do |mysubject| %>
      <tr>
        <td><%= mysubject.my_subjects %></td>
        <td><%= link_to 'Show', mysubject %></td>
        <td><%= link_to 'Edit', edit_mysubject_path(mysubject) %></td>
        <td><%= link_to 'Destroy', mysubject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mysubject', new_mysubject_path %>
