<p id="notice"><%= notice %></p>

<p>
  <strong>Sname:</strong>
  <%= @student.sname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @student.age %>
</p>

<p>
  <strong>Class:</strong>
  <%= @student.class %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
