<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @imagedemo.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @imagedemo.lname %>
</p>

<%= link_to 'Edit', edit_imagedemo_path(@imagedemo) %> |
<%= link_to 'Back', imagedemos_path %>
