
<html>
<head>

	</head>
	<body>

		<div id="header">
	<center><h1>Ruby on Rails Assignment -> BLOG</h1></center>
</div>



<div id="action">
<center><%= link_to 'Post', '/seesion/new' %> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to 'Post', '/seesion/new' %>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to 'Post', '/seesion/new' %></center>

	</div>

	</body>
</html>
	
<center><%= link_to 'Create New Account', 'new' %><center><br><br>
	<center><%= link_to 'Login', '/seesion/new' %><center>