<%#= form_for(@temp_address) do |f| %>
  

  <div class="field">
    <%= f.label :village %><br>
    <%= f.text_field :village %>
  </div>
  <div class="field">
    <%= f.label :district %><br>
    <%= f.text_field :district %>
  </div>
  <div class="field">
    <%= f.label :pincode %><br>
    <%= f.number_field :pincode %>
  </div>
  
  <div class="actions">
    <%#= f.submit %>
  </div>
<%# end %>
