<%= form_for @product , url: product_modify_path , :id =>@product do |f| %>
<center><table>
	<tr>
<th><%= f.label 'Company Name : ' %></th>
<th><%= f.text_field :company_name , :placeholder=>'Enter the Company Name' , :required => true %></th>
</tr>

	<tr>
<th><%= f.label 'Product Name : ' %></th>
<th><%= f.text_field :product_name , :placeholder=>'Enter Product Name' , :required => true %></th>
</tr>

	<tr>
<th><%= f.label 'Quantity : ' %></th>
<th><%= f.text_field :available_quantity ,:placeholder=>'Enter the Quantity' , :required => true %></th>
</tr>
	<tr>
<th><%= f.label 'Price : ' %></th>
<th><%= f.text_field :price , :placeholder=>'Enter the Price' , :required => true %></th>
</tr>
	<tr>
<th><%= f.label 'SKU Code : ' %></th>
<th><%= f.text_field :sku , :placeholder=>'Enter the SKU Code' , :required => true %></th>
</tr>
<h2>Adreess Details</h2>

	<tr>
<th><%= f.label 'City : ' %></th>
<th><%= f.text_field  :city ,:placeholder=>'Enter the City Name' , :required => true %></th>
</tr>
	<tr>
<th><%= f.label 'State : ' %></th>
<th><%= f.text_field  :state , :placeholder=>'Enter the State Name' , :required => true %></th>
</tr>
	<tr>
<th><%= f.label 'Postal Code : ' %></th>
<th><%= f.text_field  :postal_code ,:placeholder=>'Enter the Postal Code' , :required => true %></th>
</tr>

	<tr>
<th></th>

<th><%= submit_tag :Submit %></th>
</tr>

</table>
</center>





<% end %>