<html>
<body>
<center>

	<h1><%= @tag.title %> Tag Posts </h1>	
<table class = "table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>   
  </tr>
 </thead>

<% @posttag.each do |p| %>
<% if p.post.present? %>
	<tr>

    <%#= raise p.inspect  %>
	<td><%= link_to p.post.title , category_post_path(p.post.category.permalink , p.post.permalink) rescue "" %> </td>
	<td><%= p.post.description %> </td>
	<td><%= link_to p.post.category.title , category_path(p.post.category.permalink) rescue "" %> </td>
</tr>
<% end %>
<% end %>
</table>
<br>



</font size = "5"><%= link_to 'Back', :back %></font>

<br>

</center>



<div class="container">
  <h2><%= @tag.title %> Tag Posts</h2>
  
  <div class="panel-group" id="accordion">

    <% @posttag.each do |p| %>
    <% if p.post.present? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= p.post.id %>"><%= p.post.title.capitalize %></a>
        </h4>
      </div>
      <div id="collapse_<%= p.post.id %>" class="panel-collapse collapse">
        <div class="panel-body">

          <%#= p.post.description %>
            <%#= render category_post_path(p.post.category.permalink , p.post.permalink) %>
              <%= render partial: "posts/show" , locals: {category: p.post.category , post: p.post} %>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div> 
</div>
    

</body>
</html>