    <center><h1><%= @survey.name %> Survey</h1></center>
    <br><br>
      <% if @questions.empty? %>
      <div class = "alert alert-danger">
         <center><h3> Questions not available.</h3></center>
      </div>
        <%= link_to surveys_path, class: 'col-lg-1 col-lg-offset-5 btn btn-info' do %>
        <i class="glyphicon glyphicon-ok-circle"></i> Home
    <% end %>
      <% else %>

        <%= form_for [@survey, @givenanswer] do |f| %>
         <%= hidden_field_tag "total_question" , @questions.size %>
         <%= hidden_field_tag :survey_id, value: @survey.id %>
            <% @questions.each_with_index do |question , index| %>


                <div class="panel-group">
                  <div class="panel panel-primary">
                      <%= f.fields_for("#{question.id}", question) do |answer_form| %>
                      <%= render_answer_form_helper(index,question, answer_form) %>
                    <% end %>
                  </div>
                </div>
            <% end %>

            <div class="actions form-group">
              <div class="col-sm-offset-3 col-sm-3">
                <%= f.submit "Submit" ,   class: "btn btn-primary btn-block btn-lg"  %>
              </div>
            </div>
          <% end %>
        <% end %>









        

